@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-accent: var(--pink);
  --color-text: var(--white);
  --font-family: var(--font-ubuntu);
}

:root {
  --content-width: 1200px;
  --text-max-width: 65ch;

  --background: #000000;
  --pink: #ff2a70;
  --white: #ffffff;
  /* --bg-footer: url("/assets/bg/footerbg.jpg"); */

  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}

/* [data-surface="footer"] {
  background-image: var(--bg-footer);
  background-size: cover;
  background-position: center;
  position: relative;
} */

body {
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content-start] minmax(0, 600px)
    [hero-start] minmax(0, 600px) [content-end] 1fr [hero-end];
  grid-template-rows: auto 1fr auto;
}

main {
  grid-column: full;
  display: grid;
  grid-template-columns: inherit;
  background-color: var(--background);
  font-family: var(--font-family);
}

h1 {
  font-size: var(--step-1);
  font-weight: 500;
  line-height: 1.1;
  font-family: var(--font-ubuntu);
  color: var(--white);
}

h2 {
  font-size: var(--step--1);
  font-weight: bold;
  font-family: var(--font-ubuntu);
  color: var(--dark-text);
  color: var(--white);
}

h3 {
  font-size: var(--step--2);
  color: rgb(0, 0, 0);
  font-family: var(--font-ubuntu);
  font-weight: bold;
  color: var(--pink);
}

h4 {
  font-size: var(--step--2);
  color: rgb(0, 0, 0);
  font-family: var(--font-ubuntu);
  font-weight: bold;
  color: var(--pink);
}

h5 {
  font-size: var(--step--2);
  font-family: var(--font-ubuntu);
  color: var(--white);
}

p {
  font-size: var(--step--2);
  font-family: var(--font-ubuntu);
  color: var(--white);
}

.custom-btn {
  font-size: var(--step--2);
  font-weight: 500;
  font-family: var(--font-ubuntu);
  color: var(--white);
  padding: 0.8em 1.8em;
  border: none;

  cursor: pointer;
}
.custom-btn:hover {
  font-weight: 600;
}
